.footer {
  max-width: 880px;
  width: 100%;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  max-width: 880px;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    font-family: "Inter", arial, sans-serif;
    font-style: normal;
    line-height: 17px;
    padding-bottom: 36px;
    font-weight: 400;
    color: #545454;
    margin: 0 auto;
    margin-left: 19px;
  }
}
