.form__input {
  height: 50px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 0;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
