/* Profile*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal__form-heading {
  margin: 36px 36px 54px 36px;
  color: black;
}

.modal_opened {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
}

.modal__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
  margin: 34px 64px 38.26px 36px;
}

.modal__form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 36px 0 36px;
  padding: 0;
}
.modal__form-input {
  border: none;
  height: 14px;
  padding-bottom: 13.26px;
  outline: none;
  height: 14px;
  left: 461px;
  top: 306px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.modal__form-input::placeholder::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__form-divider {
  width: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: 27px;
}

.modal__form-divider::nth-last-child {
  margin-bottom: 40px;
}

.modal__form-button {
  height: 50px;
  color: #fff;
  background-color: #000;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  padding: 0;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  transform: rotate(90deg);
  top: -45px;
  right: -45px;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__image-card {
  max-width: 100%;
  max-height: 540px;
}

.modal__caption-card {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    margin: 22px;
    padding-bottom: 75px;
    padding-left: 20px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    margin-bottom: 13px;
    left: calc(100% - 30px);
  }

  .modal__form-button {
    font-size: 14px;
    line-height: 17px;
  }

  .modal__container {
    position: relative;
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__form_fieldset {
    margin: 0 22px;
  }

  .modal__image-card {
    max-width: 100%;
  }

  .modal__close-card {
    left: calc(100% - 30px);
    width: 30px;
    height: 30px;
  }

  .modal__container {
    max-height: 300px;
    max-width: 100%;
  }
}
