.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

.modal__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
  margin: 34px 64px 38.26px 36px;
}

.modal__close-button {
  background-image: url(../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  transform: rotate(90deg);
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .modal__container {
    font-size: 14px;
    margin: 0 22px;
    width: 282px;
    height: 322px;
    top: 123px;
    position: absolute;
  }

  .modal__heading {
    width: 238px;
    margin: 25px 22px 45px 22px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -38px;
    left: 253px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
}
