.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.page__section {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    display: flex;
    flex-direction: column;
  }

  .page__section {
    max-width: 880px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
}
