.footer {
  padding-left: 200px;
  margin-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 544px) {
  .footer {
    max-width: 320px;
  }

  .footer__copyright {
    font-size: 14px;
    margin-left: 19px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 545px) and (max-width: 799px) {
  .footer {
    max-width: 545px;
  }

  .footer__copyright {
    margin-left: 19px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .footer {
    max-width: 720px;
  }
}
