.profile {
  display: flex;
  align-items: center;
  margin-top: 36.25px;
  max-width: 880px;
  margin-bottom: 51px;
  width: 100%;
  position: relative;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "discription description";
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button\ Icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  display: grid;
  grid-area: "button";
  border: 1px solid #ffffff;
  margin-left: 18px;
  align-self: center;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button\ Icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: -20px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__title {
  display: flex;
  font-style: "Inter", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: "title";
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 16px;
  grid-area: "description";
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 60%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
  margin-left: 24px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__description {
    justify-self: center;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__image {
    justify-self: center;
    width: 127.5px;
    height: 127.5px;
  }
  .profile__title {
    font-size: 22px;
    padding-top: 26.25px;
    width: 196px;
    text-overflow: ellipsis;
    margin-left: 19px;
  }

  .profile__edit-button {
    margin-top: 24px;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .profile__add-button {
    margin-left: 19px;
    margin-right: 19px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 282px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .profile {
  }
  .profile__edit-button {
    margin-right: 19px;
  }
}
