.form__input {
  font-family: "Inter", "Arial", sans-serif;
  height: 14px;
  padding-top: 15.74px;
  padding-bottom: 13.26px;
  border-bottom: 0.4px solid rgba(84, 84, 84, 0.7);
}

.form__button {
  height: 50.15px;
  color: #fff;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  padding: 0;
  width: 358px;
  margin-top: 48px;
  cursor: pointer;
}

.form__button:hover {
  opacity: 50%;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .form__input {
    padding-top: 30px;
    padding-bottom: 13px;
  }

  .form__button {
    width: 238px;
    margin-top: 45px;
  }
}
